@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-heading: "Roboto Condensed", sans-serif !important;
    --font-normal: "Raleway", sans-serif !important;

    --background: 0 0% 95%;
    --background-ultra: #fbfbfb;
    --foreground: 229 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 229 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 229 10% 3.9%;

    --primary: 229, 95%, 60%;
    --primary-foreground: 355.7 100% 97%;
    --primary-hover: #1f3af1;

    --secondary: 229 4.8% 85.1%;
    --secondary-foreground: 229 5.9% 10%;

    --muted: 229 4.8% 95.9%;
    --muted-foreground: 229 3.8% 46.1%;

    --accent: 229 4.8% 95.9%;
    --accent-foreground: 229 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 229 5.9% 90%;
    --input: 229 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --background-ultra: #050404;
    --foreground: 0 0% 95%;

    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;

    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;

    --primary: 229, 95%, 56%;
    --primary-foreground: 231 80.4% 93%;
    --primary-hover: #517fff;

    --secondary: 229 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 15%;
    --muted-foreground: 229 5% 64.9%;

    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --border: 229 3.7% 15.9%;
    --input: 229 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
  }
}
@layer base {
  * {
    @apply border-border;
    font-optical-sizing: auto;
  }
  body {
    @apply bg-background text-foreground;
  }
}
.sc {
  /*  Sub Card  */
  @apply w-full h-24 border rounded-lg grid place-items-center cursor-pointer;
}
.sc p {
  @apply text-lg md:text-xl;
}
