/* Extracted from https://unpkg.com/@tfs-8/basecss/base.css */

p,
div,
span,
label,
input,
textarea,
button,
a {
  font-family: var(--font-normal);
  font-size: 20px;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h {
  font-family: var(--font-heading);
  font-weight: inherit, 700;
}
h1 {
  font-size: calc(1.425rem + 1.5vw);
}
@media (min-width: 1200px) {
  h1 {
    font-size: 2.5rem;
  }
}
h2 {
  font-size: calc(1.375rem + 0.9vw);
}
@media (min-width: 1200px) {
  h2 {
    font-size: 2rem;
  }
}
h3 {
  font-size: calc(1.325rem + 0.6vw);
}
@media (min-width: 1200px) {
  h3 {
    font-size: 1.75rem;
  }
}
.title {
  font-family: var(--font-heading);
  font-size: calc(1.425rem + 2.125vw);
  font-weight: 800;
  margin: 8px 0;
}
